# OSX
.DS_Store

# Node
node_modules/
pm-debug.log
yarn-error.log

# React Native
.expo/
.expo-shared/

# Android
android/app/build/
android/.gradle/
android/local.properties
*.apk

# iOS
ios/Pods/
ios/build/
*.ipa
*.xcworkspace
!default.xcworkspace

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Misc
.env
.env.local
